/*
============
Form Styling
============
*/

.formContainer{
    display: flex;
    justify-content: center;
}

.detailsBox {
    display: inline;
    margin-top: 20px;
    background-color: white;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
    border: 1px solid #337ab7;
    padding-top: 20px;
}


.labelField {
    float: left;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-secondary-1);
    padding-top: 7px;
    margin-bottom: 0;
}

/*text input field*/
.inputField {
    margin-top: 5px;
    min-height: 1px;
    margin-bottom: 20px;
    float: left;
    width: 95%;
    margin-left: 2.5%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: var(--clr-white);
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 33%;
    color: #d9534f;

    font-size: 18px;
    margin-top: -18px;
    background-color: #f2dede;
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #ebccd1;
    z-index: 1;
    width: 200px;

}